.levelContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.titleBar {
  flex: 1;
  margin-bottom: 80px;
  
}

.sectionTitle {
  flex: 1;
  align-self: center;
  font-size: 50px;
  font-family: roboto;
}

.levelScroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex: 1;

  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .level {
    text-align: center;
    display: grid;
    grid-template-rows: 60px 296px 100px;
    flex: 0 0 auto;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 20px;
    font-family: roboto;
    font-size: 20px;
    margin: 10px;
    border-radius: 16px;
  }
  
  .levelTitle {
    font-size: 25px;
  }

  .vidButton {
    background-color: black;
    color: white;
    text-align: center;
    align-self: center;
    padding: 26px;
  }

  .vidButton:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.9);
  }

  .vidButton:active {
    background-color: rgb(0, 0, 0, 0.8);
  }

}



.levelScroller:active {
  cursor: grabbing;
}

.arrows {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 30px;
}

.buttons {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 80px;
}

.buttons:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
}

.buttons:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.unfinished {
  flex: 1;
  margin: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: roboto;
  font-size: 30px;
  border-radius: 16px;
  align-self: center;
  text-align: center;
}

.unfinished:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.unfinished:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.infoBox {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-top: 35px;
}

.field {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0, 0.85);
}

.field.id:hover {
  cursor: pointer;
}

.field.info {
  color: rgb(0, 0, 0, 1);
  font-size: 25px;
}

.finePrint {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.inspirational {
  color: black;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.15);
  padding-bottom: 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}