.pageContainer {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.titleBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 16px;
}

.title {
  flex: 3;
  font-size: 50px;
  font-family: roboto;
  font-weight: bold;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
}

.title:hover {
  cursor: pointer;
}

.allDemons {
  flex: 1;
  margin: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: roboto;
  font-size: 30px;
  border-radius: 16px;
  align-self: center;
  text-align: center;
}

.allDemons:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.allDemons:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.hardestDemons {
  flex: 1;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: roboto;
  font-size: 30px;
  border-radius: 16px;
  align-self: center;
  text-align: center;
}

.hardestDemons:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.hardestDemons:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.favoriteDemons {
  flex: 1;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: roboto;
  font-size: 30px;
  border-radius: 16px;
  align-self: center;
  text-align: center;
}

.favoriteDemons:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.favoriteDemons:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.contactBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0, 0.15);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.social {
  flex: 1;
  margin: 20px;
  padding: 10px;
  border-radius: 16px;
  align-self: center;
  text-align: center;
}

.social:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.social:active {
  background-color: rgb(0, 0, 0, 0.2);
}

.inspirational {
  color: black;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.15);
  padding-bottom: 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}